.channel {
    cursor: pointer;
    width: auto;
    border-radius: 15px;
    min-height: 4em;
    padding: 5px;

    display: grid;
    grid-template-areas:
        'logo name date'
        'logo peek read';
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 40% 1fr,
}

.channel:hover {
    background-color:  #282727;
}

.light {
    background-color: #004daa;
}

.logo {
    grid-area: logo;
    margin: auto;
}

.overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.name {
    grid-area: name;
    margin-top: auto;
}

.peek {
    grid-area: peek;
    margin-top: auto;
}

.date {
    grid-area: date;
    margin-top: auto;
}

.read {
    grid-area: read;
    margin-top: auto;
}










